<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/chat/chat-side.css">
	<script type="text/javascript" src="/js/chat/chat-side.js"></script>
<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

</head>

<body>
	<div id="side">
		<div id="side-profile">
			<div class="wrap">
				<img src="/img/logo/logo-chat_navy.png" width="120px">

				<ul id="account">
					<li><a href="#" onclick="switchAccount();"> <c:if
								test="${sessionScope.loginMember.MGrade eq 1 }">일반회원</c:if> <c:if
								test="${sessionScope.loginMember.MGrade eq 2 }">프리랜서</c:if>
					</a></li>
				</ul>
				<c:if test="${sessionScope.loginMember.MGrade eq 1 }">
					<b>${ sessionScope.loginMember.MName }</b>
				</c:if>
				<c:if test="${sessionScope.loginMember.MGrade eq 2 }">
					<b>${ sessionScope.loginMember.brandName }</b>
				</c:if>

			</div>
		</div>
		<div id="side-menu">
			<ul>

				<li><a
					href="/enterRoom?cNo=-1&sNo=0&yourId=admin&myId=${loginMember.MId}">
						<img src="/img/icon/notification_white.png" width="40px;"><br>알림
				</a></li>

				<li><a
					href="/chatList?mGrade=${loginMember.MGrade}&mId=${loginMember.MId}">
						<img src="/img/icon/chat_white.png" width="40px;"><br>문의
				</a></li>
				<!-- 일반 회원일때  -->
				<c:if test="${sessionScope.loginMember.MGrade eq 1 }">
					<li><a href="/chatHeartList?mNo=${loginMember.MNo}"><img
							src="/img/icon/heart_white.png" width="40px;"><br>찜</a></li>
				</c:if>

			</ul>
		</div>
		<div id="side-bottom">
			<button id="mypageBtn" onclick="mypage();">mypage</button>
			<button id="closeBtn" onclick="window.close();">닫기</button>
		</div>
	</div>

	</body>
</html>