<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS & Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Bootstrap JS  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Slick Carousel CSS & JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/member/loginFrm.css">
    <link rel="stylesheet" href="/css/home/header.css">

    <!-- Custom JS -->
    <script type="text/javascript" src="/js/home/header.js"></script>

</head>
<body>
<div class="background-screen"></div>
<div class="login-form-container">
    <div class="login-form-close">
        <span>x</span>
    </div>
    <div class="login-form">
        <div class="login-form-top">
            <img src="/img/logo/logo_white.png" alt="">
        </div>
        <div class="login-form-center">
            <div class="login-title">
                <span>로그인</span>
            </div>
            <div class="login-inputs">
                <form action="/login" method="post">
                    <input type="text" name="id" id="id" placeholder="아이디를 입력해주세요"><br>
                    <input type="password" name="pw" id="pw" placeholder="비밀번호를 입력해주세요."><br>
                    <input type="submit" id="btnLogin" value="로그인">
                    <a href="/forgotIdPwd">아이디·비밀번호 찾기</a>
                    <input type="hidden" name="loc" id="login-loc">
                </form>
            </div>
        </div>
        <div class="login-form-bottom">
            <a href="/join">회원가입 하기</a>
        </div>
    </div>
</div>

<div class="dh-header-container">
    {{#loginMember}}
        {{^isAdmin}}
            <div class="chat-remocon">
                <a href="/chatList.do?mGrade={{loginMember.MGrade}}&mId={{loginMember.MId}}"
                onClick="window.open(this.href, '', 'width=530, height=630, left=1000'); return false;">문의하기</a>
            </div>
        {{/isAdmin}}
    {{/loginMember}}

    <header class="dh-header">
        <div class="header-top">
            <div class="header-top-left">
                <a href="/"><img src="/img/logo/logo_white.png" alt=""></a>
            </div>
            <div class="header-top-center">
                <div class="header-search">
                    <form action="/serviceSearch.do" method="get">
                        <input type="text" name="keyword" id="h-search" placeholder="키워드를 입력해주세요.">
                        <button>검색</button>
                    </form>
                </div>
            </div>
            <div class="header-top-right">
                <div class="header-menu">
                    <a href="/noticeList.do?reqPage=1&keyword="><span id="c-center">공지사항</span></a>

                    {{^loginMember}}
                        <span id="login">로그인</span>
                        <a href="/join" id="join-btn" class="btn-deepblue"><span>무료 회원가입</span></a>
                    {{/loginMember}}

                    {{#loginMember}}
                        <ul class="ul-user">
                            <a href="{{#isNormalUser}}/userMypage.do{{/isNormalUser}}{{^isNormalUser}}/manageMember.do?reqPage=1&grade=all&keyword=&order=new{{/isNormalUser}}" id="user_name">{{loginMember.MName}}</a>
                            <li>
                                <ul>
                                    <li>
                                        <a href="{{#isNormalUser}}/userMypage.do{{/isNormalUser}}{{^isNormalUser}}/manageMember.do?reqPage=1&grade=all&keyword=&order=new{{/isNormalUser}}">
                                            {{#isNormalUser}}마이페이지{{/isNormalUser}}{{^isNormalUser}}관리페이지{{/isNormalUser}}
                                        </a>
                                    </li>
                                    <li><a href="qna.do?page=1">1:1 문의</a></li>
                                    <li><span id="logout"><a href="/logout.do">로그아웃</a></span></li>
                                </ul>
                            </li>
                        </ul>
                    {{/loginMember}}
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="nav">
                <ul></ul>
            </div>
        </div>
    </header>
</div>


</body>

</html>