<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home/main.css">
    <script type="text/javascript" src="/js/home/main.js"></script>
    <title>19시 :: 일 구하고 시퍼</title>
</head>
<body>
<section class="main-section">
    {{#loginMember}}
        <div class="main-top-info-container">
            <div class="top-info-left">
                <div class="top-info-left-title">
                    <span>다양한 방법으로</span><br>
                    전문가를 만나보세요!
                </div>
                <div class="request-container">
                    <a href="/requestList.do?reqPage=1&order=new&subject=all&keyword=">
                        <img src="img/index/banner/custom.png" width="50px" alt="">
                        맞춤 견적
                    </a>
                </div>
            </div>
            <div class="banner-container">
                <div class="bannerArrow">
                    <span class="banner-prev" id="arrow_prev">&lt;</span>
                    <span class="banner-next" id="arrow_next">&gt;</span>
                </div>
                <div class="banner-slider">
                    <img src="img/index/banner/banner1.png" alt="">
                    <img src="img/index/banner/banner2.png" alt="">
                    <img src="img/index/banner/banner3.png" alt="">
                </div>
            </div>
            <div class="member-info-container">
                <div class="member-info-name">
                    반가워요<br><span>{{MId}}</span>님!
                </div>
                <div class="member-info-buying">
                    구매 진행 중<span><span>{{buyingCount}}</span> 건</span>
                </div>
                <div class="member-info-selling">
                    판매 진행 중<span><span>{{sellingCount}}</span> 건</span>
                </div>
            </div>
        </div>
    {{/loginMember}}

    {{^loginMember}}
        <div class="banner-container">
            <div class="bannerArrow">
                <span class="banner-prev" id="arrow_prev">&lt;</span>
                <span class="banner-next" id="arrow_next">&gt;</span>
            </div>
            <div class="banner-slider">
                <div class="banner-item"><img src="img/index/banner/banner1.png" alt=""></div>
                <img src="img/index/banner/banner2.png" alt="">
                <img src="img/index/banner/banner3.png" alt="">
            </div>
        </div>
    {{/loginMember}}


    <div class="slider-container">
        <div class="famous-category-slider">
            <div class="slider-top">
                <div class="slider-title">
                    <span>디자인 카테고리</span>에서 인기있어요!
                </div>
                <div class="arrowSlider">
                    <span class="prev" id="arrow1_prev">&lt;</span>
                    <span class="next" id="arrow1_next">&gt;</span>
                </div>
            </div>
            <div class="famous-category-list">
                <div class="category-item">
                    <a href="/serviceList.do?cNo=11&reqPage=1">
                        <img src="img/index/carousel/category-11.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">로고·브랜딩</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=13&reqPage=1">
                        <img src="img/index/carousel/category-13.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">캘리그라피·폰트</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=14&reqPage=1">
                        <img src="img/index/carousel/category-14.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">일러스트·캐리커쳐</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=16&reqPage=1">
                        <img src="img/index/carousel/category-16.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">이벤트·상세 페이지</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=15&reqPage=1">
                        <img src="img/index/carousel/category-15.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">간판·시공</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=12&reqPage=1">
                        <img src="img/index/carousel/category-12.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">인쇄·홍보물·배너</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="famous-category-slider">
            <div class="slider-top">
                <div class="slider-title">
                    <span>IT·프로그래밍 카테고리</span>에서 인기있어요!
                </div>
                <div class="arrowSlider">
                    <span class="prev" id="arrow2_prev">&lt;</span>
                    <span class="next" id="arrow2_next">&gt;</span>
                </div>
            </div>
            <div class="famous-category-list">
                <div class="category-item">
                    <a href="/serviceList.do?cNo=21&reqPage=1">
                        <img src="img/index/carousel/category-21.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">워드프레스</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=22&reqPage=1">
                        <img src="img/index/carousel/category-22.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">웹사이트개발</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=23&reqPage=1">
                        <img src="img/index/carousel/category-23.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">프로그램개발</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=24&reqPage=1">
                        <img src="img/index/carousel/category-24.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">데이터베이스</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=25&reqPage=1">
                        <img src="img/index/carousel/category-25.png" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">게임개발</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=27&reqPage=1">
                        <img src="img/index/carousel/category-27.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">파일변환</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="famous-category-slider">
            <div class="slider-top">
                <div class="slider-title">
                    <span>비즈니스컨설팅 카테고리</span>에서 인기있어요!
                </div>
                <div class="arrowSlider">
                    <span class="prev" id="arrow3_prev">&lt;</span>
                    <span class="next" id="arrow3_next">&gt;</span>
                </div>
            </div>
            <div class="famous-category-list">
                <div class="category-item">
                    <a href="/serviceList.do?cNo=61&reqPage=1">
                        <img src="img/index/carousel/category-61.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">사업계획서·투자제안서</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=62&reqPage=1">
                        <img src="img/index/carousel/category-62.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">인사·노무</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=63&reqPage=1">
                        <img src="img/index/carousel/category-63.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">창업컨설팅</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=64&reqPage=1">
                        <img src="img/index/carousel/category-64.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">법률법무</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=65&reqPage=1">
                        <img src="img/index/carousel/category-65.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">업무지원·cs</div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="/serviceList.do?cNo=60&reqPage=1">
                        <img src="img/index/carousel/category-60.jpg" alt="">
                        <div class="category-title-background"></div>
                        <div class="category-title">컨설팅</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner1">
        <img src="img/index/banner/banner4.png" alt="">
    </div>

</section>
</body>
</html>