.page-wrap{
    width: 911px;
    height:1000px;
    margin: 0 auto;
    margin-top: 45px;
}
.text-box{
    height : 332px;
    padding-left: 30px;
    background-image: url(img/notice/notice.jpg);
    background-size: 910px;
    color: white;
}
.text-box>div:first-child{
    height: 30px;
    padding-top: 30px;
}
.text-box>div:last-child{
    padding-top: 70px;
    font-size: 30px;
}
.form-control{
    float: left;
    margin-top: 13px;
    margin-right: 20px;
}
.back-btn{
    width: 103px;
    height: 40px;
    float: right;
    margin-top: 20px;
    margin-left : 15px;
    color: rgb(49, 76, 131);
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(49, 76, 131);
    font-weight: bold;
}

.board-box{
    margin-top: 30px;
    border-bottom: 2px solid rgb(49, 76, 131);
}

.board-box>div:first-child{
    height: 500px;
    padding: 0 0px 20px 20px;
}
.title-box{
    background-color: rgba(224, 224, 224, 0.5);
}
.contact-user{
    width: 124px;
    height: 26px;
    font-size: 12px;
    color: rgb(49, 76, 131);
    border-radius: 5px;
    border: 2px solid rgb(49, 76, 131);
}
#title{
    width: 100%;
    height: 31px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
}
.save{
    color: white;
    border-radius: 5px;
    background-color:  rgb(49, 76, 131);
    border: 2px solid rgb(49, 76, 131);
}

.save:hover,
.Listbtn:hover {
    border: 2px solid rgb(49, 76, 131);
    background-color: transparent;
    color: rgb(49, 76, 131);
    text-decoration: none;
}

.Listbtn{
    width: 103px;
    height: 40px;
    float: right;
    margin-top: 20px;
    margin-left : 15px;
    color: white;
    border-radius: 5px;
    background-color :rgb(49, 76, 131);
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
