<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/admin/adminMessage.css">
	<script type="text/javascript" src="/js/admin/adminMessage.js"></script>
<title>19시(관리자) :: 메세지보내기(${member.MId })</title>
</head>

<body>
	<div class="wrap">
		<div id="title">
			<img src="/img/logo/logo-chat_navy.png" width=130px;><br>
			회원 <b>${member.MId }</b>에게 알림
			</h1>
		</div>

		<div id="input">
			<textarea class="message"></textarea>
		</div>

		<div id="button">
			<button class="btn submit" onclick="sendMsg();">전송</button>
			<button class="btn close" onclick="close();">닫기</button>
		</div>
	</div>

</body>
</html>