<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/admin/adminMainpage.css">
	<title>Insert title here</title>
</head>
<body>
	<div class="header">
		<img src="/img/logo/logo_white.png" onclick="location='/'">
		<div class="name">관리자</div>
	</div>
	<div class="sideNavi">
		<ul>
			<li class="navi-link"><a
				href="/manageMember.do?reqPage=1&grade=all&keyword=&order=new">MEMBER</a></li>
			<li class="navi-link"><a
				href="/manageService.do?reqPage=1&status=waiting&keyword1=&keyword2=&order=old">SERVICE</a></li>
			<li class="navi-link"><a href="/adminNoticeList.do?reqPage=1&keyword=">NOTICE</a></li>
			<li class="navi-link"><a href="/manageQnA.do?list_num=10">FAQ</a></li>
		</ul>
	</div>


</body>
</html>