<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin/noticeList.css">
<script type="text/javascript" src="/js/admin/noticeList.js"></script>
<title>Insert title here</title>
</head>
<body>
    {{>admin/adminMainpage}}
	<div class="noticeContainer">
		<div class="noticeTitle"> 공지사항 </div>
		<table class="table table-striped table-hover">
			<tr>
				<th width="120px;"> 글번호 </th> <th> 글제목 </th> <th width="120px;"> 작성자 </th> <th  width="180px;"> 작성일 </th>
			</tr>
			<c:forEach items="${list }" var="n">
				<tr> 
					<td>${n.NNo } </td>
                	<td><a href="/noticeView?nNo=${n.NNo }" class = "table-title">${n.NTitle } </a> </td>
                	<td>일.구.시 </td>
                	<td> ${n.writeDate } </td>
				</tr>
			
			</c:forEach>
		</table>
		
		<div class="pageNavi" style="width: 100%; height: 40px;">
			${pageNavi }
		</div>
		
		<div class="content-bottom write-wrap" style="float: right;">
			<input type="button" class="button write-btn" value="글쓰기">
		</div>
		<div class="container-bottom content-bottom ">
			<input type="text" class="form-control searchBox" id="keyword"> 
			<input type="button" class="search-btn " value="검색">
		</div>
	</div>
</body>
</html>




































