<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/qnaList.css">
    <script type="text/javascript" src="/js/admin/qnaList.js"></script>
    <title>Insert title here</title>
</head>

<body>
    <div class="background-screen"></div>
    {{>admin/adminMainpage}}

    <div class="qna-view-container">
        <div class="qna-view-top">
            <div class="qna-view-top-title">
                보기
                <div class="modal-exit">
                    x
                </div>
            </div>
        </div>
        <div class="qna-view-main">
            <div class="qna-view-title">
            </div>
            <div class="qna-view-file">
            </div>
            <div class="qna-view-content">
            </div>
        </div>
    </div>
    <!-- 답변 작성하는 모달창 -->
    <div class="qna-view-container-answer">
        <div class="qna-view-top">
            <div class="qna-view-top-title">
                답변 작성
                <div class="modal-exit">
                    x
                </div>
            </div>
        </div>
        <div class="qna-view-main-answer">
            <form id="qna-reg-form" action="registerQuestion.do" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="loc" id="loc">
                <input type="hidden" name="answer_No" id="answer_No">
                <div class="qna-view-content-answer">
                    <textarea name="qContent" id="">${not empty param.answerNo ? question.answerContent : ''}</textarea>
                </div>
                <div class="qna-view-action">
                    <input type="submit" class="btn-submit" value="등록하기">
                </div>
            </form>
        </div>
    </div>

    <!-- 메인섹션부분 -->
    <section class="qna-section">
        <div class="qna-container">
            <div class="qna-top">

                <select name="list_num">
                    <option value="10" ${param.list_num == 10 ? 'selected' : ''}>10개</option>
                    <option value="20" ${param.list_num == 20 ? 'selected' : ''}>20개</option>
                    <option value="30" ${param.list_num == 30 ? 'selected' : ''}>30개</option>
                </select>
            </div>
                <div class="qna-center">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <c:forEach var="qList" items="${questionList}">
                            <tr class="tr">
                                <td><input type="checkbox" name="qNo"></td>
                                <td>${qList.QNo}</td>
                                <td>
                                    <input type="hidden" value="${qList.QNo}">
                                    <a href="#" class="list-title">${qList.QTitle}</a>
                                    <c:if test="${qList.answerStatus == 0}">
                                        <a href="#" class="btn-answer">답변</a>
                                    </c:if>
                                    <c:if test="${qList.secretStatus == 1}">
                                        <span>&#128274;</span>
                                    </c:if>
                                </td>
                                <td>${qList.MId}</td>
                                <td>${qList.writeDate}</td>
                            </tr>
                            <c:if test="${qList.answerStatus == 1}">
                                <tr style="border-top: none;">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="hidden" value="${qList.QNo}">
                                        <a href="#" class="answer-list-title">&#10551; 답변입니다.</a>
                                        <a href="#" class="btn-update">수정</a>
                                    </td>
                                    <td>
                                        관리자
                                    </td>
                                    <td>${qList.answerDate}</td>
                                </tr>
                            </c:if>
                        </c:forEach>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <div class="qna-bottom">
                <div class="paging">
                     <c:if test="${begin != 1}">
                        <a class="page-prev"
                            href="?page=${begin-1}${not empty param.qna_type ? '&qna_type='+=param.qna_type : ''}${not empty param.qna_keyword ? '&qna_keyword='+=param.qna_keyword : ''}${not empty param.list_num ? '&list_num='+=param.list_num : ''}">이전</a>
                    </c:if>
                    <c:forEach var="i" begin="${not empty param.page ?  begin : 1}" end="${end}" step="1">
                        <a class="page-num ${param.page==i || (empty param.page && i == 1) ? 'page-selected' : ''}"
                            href="?page=${i}${not empty param.qna_type ? '&qna_type='+=param.qna_type : ''}${not empty param.qna_keyword ? '&qna_keyword='+=param.qna_keyword : ''}${not empty param.list_num ? '&list_num='+=param.list_num : ''}">${i}</a>
                    </c:forEach>
                    <c:if test="${end < maxPageCount}">
                        <a class="page-next"
                            href="?page=${end+1}${not empty param.qna_type ? '&qna_type='+=param.qna_type : ''}${not empty param.qna_keyword ? '&qna_keyword='+=param.qna_keyword : ''}${not empty param.list_num ? '&list_num='+=param.list_num : ''}">다음</a>
                    </c:if>
                </div>
                <div class="qna-search">
                    <form action="" method="get">
                        <select name="qna_type">
                            <option value="1">제목</option>
                            <option value="2">작성자</option>
                        </select>
                        <input type="text" name="qna_keyword">
                        <input type="submit" value="검색">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>