<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/notice/noticeList.css">
    <script type="text/javascript" src="/js/notice/noticeList.js"></script>
    <title>19시 :: 공지사항</title>
</head>
<body>
    <div class="header">
        {{>common/header}}
    </div>

    <div class="page-wrap">
        <div class="text-box">
            <div>홈 > 게시판 > 공지사항</div>
            <div>공지사항</div>
        </div>

        <br><br>

        <div class="search-box">
            <div class="search-container" style="margin: 0 auto;">
                <input type="text" class="form-control word searchInput keyword" placeholder="검색어를 입력해주세요" name="word" style="width:377px;">
                <input type="submit" class="btn btn-md btn-search" value="검색">
            </div>
        </div>

        <div class="board-box">
            <br>
            <br>
            <table class="table table-hover">
                <tr style="background-color: rgba(224, 224, 224, 0.5);">
                    <th style="width: 100px;">글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th style="width: 200px;">작성일</th>
                </tr>
                <c:forEach items="${list }" var="n">

                    <tr>
                        <td>${n.NNo } </td>
                        <td><a href="/noticeView.do?nNo=${n.NNo }" class = "table-title" style="display: block; height: 100%; width: 100%;">${n.NTitle } </a> </td>
                        <td>일.구.시 </td>
                        <td> ${n.writeDate } </td>
                    </tr>
                </c:forEach>
                <tr>
                    <td colspan="4" class="pageNavi" style="text-align: center;"> ${pageNavi } </td>
                </tr>

            </table>
            <div>
                <c:if test="${loginMember.MGrade == 0 }">
                    <button class="btn-custom" onclick="location.href='/noticeWriteFrm.do'">글쓰기</button>
                </c:if>
            </div>
            <div>
            </div>
        </div>
    </div>

    <div class="footer">
        {{>common/footer}}
    </div>
</body>
</html>

























