<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/member/searchIdPw.css">
    <script type="text/javascript" src="/js/member/searchIdPw.js"></script>
    <title>19시 :: id/pw찾기</title>
</head>

<body>
{{>common/header}}
<section>
    <div class="search-form-container">
        <div class="search-top">
            <div class="main-title">
                아이디/비밀번호 찾기
            </div>
        </div>
        <div class="search-center">
            <div class="search-id-form">
                <div class="sub-title">
                    아이디 찾기
                </div>
                <div class="search-contents">
                    <!-- 아이디 찾기 폼 -->
                    <form action="/searchId" method="post">
                        <input type="text" name="mName" id="mName" placeholder="이름을 입력해주세요.">
                        <input type="text" name="mPhone" id="mPhone" placeholder="전화번호를 입력해주세요.( '-' 제외 )">
                        <input type="submit" value="아이디 찾기">
                    </form>
                </div>
            </div>
            <div class="search-pw-form">
                <div class="sub-title">
                    비밀번호 찾기
                </div>
                <div class="search-contents">
                    <!-- 비밀번호 찾기 폼 -->
                    <form id="pop-form" action="/searchPw" method="post" target="popup">
                        <input type="hidden" name="mId" id="mIdHidden">
                        <input type="hidden" name="mPhone" id="mPhoneHidden">
                    </form>
                    <input type="text" name="mId" id="mId" placeholder="아이디를 입력해주세요.">
                    <input type="text" name="mPhone" id="mPhone2" placeholder="전화번호를 입력해주세요.( '-' 제외 )">
                    <input type="button" id="btnPw" value="비밀번호 찾기">
                </div>
            </div>
        </div>
        <div class="search-bottom">
            <a href="/">로그인</a>
            <a href="/member/joinFrm">회원가입</a>
        </div>
    </div>
</section>

{{>common/footer}}
</body>

</html>