.qna-section {
    margin: 0 auto;
    width: 1200px;
}

.qna-container {
    margin: 0 auto;
    width: 90%;
}

.qna-top {
}

.qna-top>.title {
    width: 100%;
    margin-top: 60px;
    margin-left: 50px;

}

.qna-top>.title>.title-main {
    font-size: 30px;
}

.qna-center {
    margin: 0 auto;
    width: fit-content;
}

.qna-center table {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.qna-center table td {
    text-align: center;
}

.qna-center table tr {
    border-top: 1px solid lightgray;
}

.qna-center table>tbody tr:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.qna-center table>thead {
    background-color: rgb(235, 235, 235);
    font-size: medium;
    color: #282828;
}

.qna-center table>thead th {
    padding: 4px 0;
    color: #282828;
    text-align: center;
}

.qna-center table>thead th:nth-child(2) {
    width: 100px;
}

.qna-center table>thead th:nth-child(3) {
    width: 520px;
}

.qna-center table>thead th:nth-child(4) {
    width: 200px;
}

.qna-center table>thead th:nth-child(5) {
    width: 150px;
}

.qna-center table>tbody tr td {
    padding: 5px 0;
    font-size: medium;
}

.qna-bottom {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.qna-bottom>.paging {
    display: inline-block;
}

.btn-write {
    display: inline-block;
    float: right;
}

.btn-answer {
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    outline: none;
    background-color: white;
    color: #314C83;
    border-radius: 5px;
    border: 2px solid #314C83;
    display: inline-block;
    text-decoration: none;
    font-size: small;
}

.btn-answer:hover {
    text-decoration: none;
    color: #314C83;
}

.btn-update {
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    outline: none;
    background-color: #314C83;
    color: white;
    border-radius: 5px;
    border: 2px solid #314C83;
    display: inline-block;
    text-decoration: none;
    font-size: small;
}
.btn-submit{
    outline: none;
    background-color: #314C83;
    color: white;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #314C83;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}
.background-screen {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
}

.qna-view-container,
.qna-view-container-answer {
    display: none;
    position: absolute;
    background-color: white;
    width: 550px;
    height: 600px;
    border: 2px solid #314C83;
    box-shadow: 2px 2px 12px 1px gray;
    border-radius: 5px;
    left: calc(50% - 275px);
    top: calc(50% - 350px);
    /* box-sizing: border-box; */
}
.qna-view-container-answer {
    height: 550px;
}
.qna-view-main {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.qna-view-top {
    width: 100%;
    height: 25px;
    background-color: #314C83;
}

.qna-view-top>.qna-view-top-title {
    margin-top: 2px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
}

.modal-exit {
    float: right;
    width: 30px;
    text-align: center;
    color: white;
}

.modal-exit:hover {
    cursor: pointer;
}

.qna-view-title,
.qna-view-file {
    width: 100%;
    height: 5%;
    margin: 10px 0;
}

.qna-view-content {
    width: 100%;
    height: 75%;
    border: 1px solid #314C83;
    border-radius: 5px;
    margin: 10px 0;
}
.qna-view-content>form{
    height: max-content;
    width: max-content;
}
.qna-view-content textarea {
    width: 98.5%;
    height: 98.5%;
    resize: none;
    border-radius: 5px;
}
.qna-view-content-answer{
    margin: 20px auto;
    width: 90%;

}
.qna-view-content-answer textarea{
    width: 100%;
    height: 400px;
    resize: none;
}
.qna-view-action{
    margin: 0 auto;
    width: 90%;
}
.page-next:hover,
.page-prev:hover{
    text-decoration: none;
    color: #282828;
    background-color: #ff8f3f85;
}
.page-next,
.page-prev{
    display: inline-block;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #282828;
    font-weight: bold;
    margin-bottom: 10px;
}
.page-num{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #282828;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
}
.page-num:not(.page-selected):hover{
    text-decoration: none;
    color: #282828;
    background-color: #ff8f3f85;
}
.page-selected{
    background-color: #FF8F3F;
    color: white;
}
.page-selected:hover{
    color: white;
    text-decoration: none;
}